.container-center{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 20;
    overflow: visible;
}


:root{
    padding: 0.5vh 3vw 0.5vh 3vw;
}



@media(prefers-color-scheme:dark){
    :root {
        --bulma-primary-h: 104deg;
        --bulma-primary-s: 94%;
        --bulma-scheme-h: 2142;
        --bulma-scheme-s: 4%;
    }
}

::selection{
    background-color: rgb(104, 104, 104);
}

.icon-women{
    transition: transform 500ms ;
}


.icon-women:hover{
    transform: scale(1.1);
}
