<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="shortcut icon" href="../../public/GOKU.jpeg" type="image/x-icon">
  <title>Ingreso ROOT</title>
</head>
<body style="display: flex; justify-content: center; align-items:center;height: 100vh !important; ">
  <h1 class="title">Usuario Registrado</h1>

</form>  
</body>